.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: ; */
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";

}

header {
    background-color: aqua;
    grid-area: header;
}

main {
    background-color: red;
    grid-area: main;
}

aside {
    background-color: yellow;
    grid-area: aside;
}

footer {
    background-color: greenyellow;
    grid-area: footer;
}

/* Hero Section */
.hero {
    /* top bottom padding "clamp(min, med, max) */
    padding: clamp(3rem, 5vw, 5rem) 0; 
}

.hero_text h1 {
    font-size: clamp(1.8rem, 3.2vw, 3rem);
    line-height: 1.15;
    margin: 0 0 .75;
}

.hero_text p {
    color: rgb(214, 245, 255);
    margin: .25rem 0 1.25rem;
}

.hero_cta {
    display: flex;
    gap: .75rem;
    flex-wrap: wrap;
}