.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    padding: 7dvh;
    gap: 40px;
    flex-wrap: wrap;
}

.intro-text {
    color: rgb(0, 0, 0);
    height: 40dvh;
    /* One way */
    /* line-height: 3em; */

    /* Second way */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my-image {
    /* width: 200px; */
    min-width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

/* .my-heading {
    font-family: cursive;
} */

#my-name {
    color: var(--primary-color);
    /* font-family: monospace; */
    font-size: 40px;
}

.btn-shape{
  height: 30px;
  padding: 0 30px;
  border-radius: 7px;
  font-size: 15px;
  font-family: cursive;
}

.btn-orange {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-hollow{
  background-color: black;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-orange:hover {
    background-color: var(--accent-color);
    color: black;
}

.btn-hollow:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


