.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: ; */
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";

}

header {
    background-color: aqua;
    grid-area: header;
}

main {
    background-color: red;
    grid-area: main;
}

aside {
    background-color: yellow;
    grid-area: aside;
}

footer {
    background-color: greenyellow;
    grid-area: footer;
}

/* Hero Section */
.hero {
    /* top bottom padding "clamp(min, med, max) */
    padding: clamp(3rem, 5vw, 5rem) 0; 
}

.hero_text h1 {
    font-size: clamp(1.8rem, 3.2vw, 3rem);
    line-height: 1.15;
    margin: 0 0 .75;
}

.hero_text p {
    color: rgb(214, 245, 255);
    margin: .25rem 0 1.25rem;
}

.hero_cta {
    display: flex;
    gap: .75rem;
    flex-wrap: wrap;
}

/* Skills Section */
.skills {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, min-max(260px, 1fr));
    border: 1px var(--border);
    border-radius: 14px;
    padding: 1rem;
    background: rgba(17,22,35,.35);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    list-style: none;
}

.tags li {
    padding: .35rem .6rem;
    border-radius: 999px;
    background: rgba(17, 24, 41, 0.35);
    border: 1px solid var(--border);
    color: rgb(227, 228, 233);
    font-size: .9rem;
}