* {
    margin: 0;
    padding: 0;
}

:root {
  --bg: rgb(7, 11, 12);
  --panel: rgb(17, 16, 35);
  --text: whitesmoke;
  --muted: rgb(164, 174, 177);
  --primary: rgb(88, 130, 253);
  /* makes a darker shade higher then number */
  --primary-700: rgb(88, 130, 253);
  --border: rgb(25, 36, 50);
}

/* Navbar */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(136, 136, 136, 0.8);
    border-bottom: 1px solid black;
    backdrop-filter: blur(8px);
}

.nav_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 1.5rem;
}

.nav_toggle {
    display: none;
    font-size: 1.25rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: .4rem .6rem;
    color: rgb(227, 227, 227);
}

.nav_list {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_link {
    padding: .5rem .75rem;
    border-radius: 10px;
    color: rgb(227, 227, 227);
    text-decoration: none;
}

.nav_link:hover {
    background: rgb(22, 32, 47);
}

.nav_link .is_active {
    outline: 2px solid rgb(78, 149, 255);
}

#nav_toggle {
    display: none;
}

.nav_icon {
    font-size: 1.5rem;
    color: black;
    display: none;
}

/* Mobile Navbar */
@media (max-width: 760px) {
    .nav_icon {
        display: inline-block;
    }

    .nav_list {
        position: absolute;
        right: 1rem;
        top: 64px;
        background: rgb(17, 35, 41);
        border: 1px solid black;
        border-radius: 14px;
        padding: .5rem;
        display: none;
        flex-direction: column;
        gap: .25rem;
    }

    #nav_toggle:checked + .nav_icon + .nav_list {
        display: flex;
    }
}

/* Buttons */
.button {
    display: inline-block;
    padding: .6rem 1rem;
    border-radius: 12px;
    background: var(--primary);
    color: white;
    border: 1px solid transparent;
    font-weight: 600;
}

.button:hover {
    background: var(--primary-700);
}

.button_outline {
    background: transparent;
    color: white;
    border-color: var(--border);
}

.button_outline:hover {
    border-color: var(--primary);
}
